@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'centaur';
    src: url('../assets/fonts/CENTAUR.TTF')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Talpa Font';
    src: url('../assets/fonts/talpa-font.ttf')  format('truetype'),
         url('../assets/fonts/talpa-font.woff')  format('woff'); 
}
/* Setup */
:root {
    --first-color: #3cb46e;
    --second-color: #F0F0E0;
    --third-color: #041B15;
    --fourth-color: #EF476F;
    --fifth-color: #2D82B7;
    --menu-height: 55px;
}

/* Reset HTML */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* main */
main {
    background-color: var(--second-color);
    height: 100%;
    width: 100%;
}

/* header */

header {
    display:grid;
    grid-template-columns: auto 1fr 30px 30px;
    grid-template-rows: var(--menu-height);
    background: var(--first-color);
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px 0px rgba(51, 51, 51, 0.5);
    padding: 0 20px;
}

header #open-menu {
    justify-self: flex-start;
}

header #open-menu i {
    font-size: 2em;
    color: var(--second-color);
}

header .logo-align {
    display: flex;
    justify-content: center;
}

header #brand::first-letter{
    font-size: 1.2em;
}

header #brand {
    font-size: 1.4em;
    font-family: 'centaur', 'Opens Sans', sans-serif;
    text-transform: uppercase;
    color: var(--second-color);
    line-height: var(--menu-height);
    margin: 0px 10px
}

header #logo {
    line-height: 50px;
    height: auto;
    animation-name: changeColor;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    /* animation-timing-function: cubic-bezier(1, 0, 0.2, 0); */
    animation-timing-function: linear;
    animation-direction: alternate;
    font-size: 2.3em;
    vertical-align: middle;
    text-align: center;
    transition: 0.5s;
}

.icon-logo:after {
    font-family: 'Talpa Font';
    content: '\0E800';
}

#logo:hover {
    animation-name: none;
    opacity: 0;
}

@keyframes changeColor {

    0% {
        color: var(--second-color);
    }

    25% {
        color: var(--first-color);
    }

    75% {
        color: var(--fourth-color)
    }

    100% {
        color: var(--third-color);
    }

}

header #dark-mode {
    opacity: 0.8;
    transition: 0.5s;
    justify-self: center;
    align-self: center;
    
}

header #dark-mode:hover {
    opacity: 1;
    transform: scale(1.2);
}

header #dark-mode * {
    color: var(--second-color);
    font-size: 1.2em;
    
}

#dropdown-language {
    position: relative;
    /* padding: 5px; */
    cursor: pointer;
}

#language {
    transition: 0.5s;
    user-select: none;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
}

#language:hover {
    transform: scale(1.2);
}

#language-options {
    position: fixed;
    display: none;
    background: var(--first-color);
    height: 100px;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 5px;
    border: 2px solid var(--fourth-color);
}

#language-options * {
    color: var(--second-color);
}

#language-options img {
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
}


/* navbar style */
#navbar {
    position: fixed;
    display: none;
    background: var(--first-color);
    border-right: 3px solid var(--fourth-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 250px;
    padding: 5px 10px;
    transition: 1s;
    z-index: 99;
}

#navbar #close-menu {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 0 10px;
}

#navbar #close-menu i {
    color: var(--second-color);
    font-weight: 600;
    font-size: 20px;
}

@keyframes show-menu {
    from {
        left: -200px;
        width: 0;
    }

    to {
        left: 0;
        width: 100%;
    }
}

@keyframes hide-menu {
    from {
        left: 0px;
        width: 100%;
    }

    to {
        left: -200px;
        width: 0;
    }
}


#navbar #search {
    display: flex;
    flex-flow: row nowrap;
}

#navbar #search-type {
    padding: 10px 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.4);
    border-right: none;
    width: 100%;
}

#navbar #btn-search {
    padding: 10px;
    z-index: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(255, 255, 255, 0.4);
    border-left: none;
}

#navbar #btn-search i {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: 0.2s;
}

#navbar #btn-search i:active {
    background: rgba(255, 255, 255, 0.7)
    
}

#navbar #group-types {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#navbar #group-types a {
    width: 100%;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    transition: 0.5s;
    color: var(--second-color);
    font-weight: bold;
}

#navbar #group-types a:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Alert */
.alert {
    display: 'flex';
    flex-direction: column;
    max-width: 800px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } 
}

.info {
    background: #add8e6;
}

.info * {
    color:black;
}

.error {
    background: #fa8072;
}

.error * {
    color: white;
}

/* Form convert */
section#conversor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--menu-height));
    width: 100%;
}

#conversor-form {
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    padding: 30px 25px;
    background: var(--first-color);
    width: 100%;
    max-width: 800px;
}

#conversor-form #other-categories {
    text-decoration: underline;
    display: inline;
    color: var(--second-color);
}

#conversor-form h2 {
    font-size: 1.5em;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 20px;
}

#copy-link {
    cursor: pointer;
    padding: 0 10px;
}

#copy-link i {
    color: var(--second-color);
    transition: .5s;
    font-size: 1.2em;
}

#copy-link i:hover {
    transform: scale(1.2);
}

#conversor-form label {
    color: var(--second-color);
    font-size: 1.2em;
}

#conversor-form input, #conversor-form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0px;
    font-size: 1.2em;
    background: white;
}

#conversor-form button {
    font-size: 1.2em;
    padding: 10px;
    background: var(--second-color);
    color: var(--third-color);
}

.button {
    border-radius: 5px;
    box-shadow: 2px 3px #333;
    cursor: pointer;
    transition: 0.2s;
}

.button:active {
    box-shadow: none;
}

/* result board */

#result-board {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: var(--first-color);
    color: var(--second-color);
}

#result-board p, #result-board span {
    color: var(--second-color);
    font-size: 2rem;
    font-weight: 100;
}

span#to-value {
    font-weight: bold;
}

/* footer style */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--first-color);
    height: auto;
    padding: 10px 20px;
    border-top: 2px solid var(--fourth-color);
    line-height: 1.2em;
}

footer p {
    color: var(--second-color);
}

footer #responsability {
    font-size: 0.6em;
    text-align: center;
}


@media (max-width: 600px) {
    * {
        font-size: 12px;
    }
    
    section#conversor {
        padding: 0 10px;
    }

    #navbar * {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    #navbar {
        width: 100vw;
        max-width: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--first-color);
}

::-webkit-scrollbar-thumb {
    background: var(--fourth-color);
    border: 1px solid black;
    border-radius: 10px;
}
