@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Setup */
:root {
    --first-color: #577590;
    --second-color: #F7F4EA;
    --third-color: #1E1E24;
    --fourth-color: #FA824C;
    --fifth-color: #945D5E;
    --menu-height: 55px;
}

/* Reset HTML */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    background-color: var(--second-color);
    height: 100%;
    width: 100%;
}

header {
    display:flex;
    height: var(--menu-height);
    background: var(--first-color);
    justify-content: center;
    align-items: center;
}

header #brand {
    font-size: 1.5em;
    color: var(--second-color);
    line-height: var(--menu-height);
}

header #logo {
    width: 50px;
    height: 50px;
    animation-name: changeColor;
    animation-duration: 60s;
    animation-iteration-count: infinte;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }

    20% {
        filter: hue-rotate(60deg);
    }
    40% {
        filter: hue-rotate(120deg);
    }
    60% {
        filter: hue-rotate(180deg);
    }
    80% {
        filter: hue-rotate(240deg);
    } 

    100% {
        filter: hue-rotate(360deg)
    }

}


section#conversor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--menu-height));
    width: 100%;
}

#conversor-form {
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    padding: 30px 25px;
    background: var(--first-color);
    width: 100%;
    max-width: 800px;
}

#conversor-form h2 {
    font-size: 1.5em;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 20px;
}

#conversor-form label {
    color: var(--second-color);
    font-size: 1.2em;
}

#conversor-form input, #conversor-form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0px;
    font-size: 1.2em;
}

#conversor-form button {
    font-size: 1.2em;
    padding: 10px;
    background: var(--second-color);
    color: var(--third-color);
}

.button {
    border-radius: 5px;
    box-shadow: 2px 3px #333;
    cursor: pointer;
    transition: 0.2s;
}

.button:active {
    box-shadow: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--first-color);
    height: var(--menu-height);
}

footer p {
    color: var(--second-color);
}


@media (max-width: 600px) {
    * {
        font-size: 12px;
    }
    
    section#conversor {
        padding: 0 10px;
    }
}
